* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f3f3f0;
}

.main-side {
  width: 1100px;
  margin: 0 auto;
}

/* .Page-header-section {
  background-color: #fff;
  height: 50px;
  margin-bottom: 30px;
} */

.Page-header-section {
  display: flex;
  gap: 200px;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.02);
}

.linkedin-navigation {
  display: flex;
  gap: 10px;
}

.linkedin-main-logo {
  width: 35px;
  height: auto;
  fill: #2967b2;
  margin-left: 20px;
}

.linkedin-main-logo:hover {
  width: 35px;
  height: auto;
  fill: #2967b2;
  margin-left: 20px;
  cursor: pointer;
}

.search-word {
  /* float: right; */
  font-size: 13px;
  color: #707070;
}

.search-icon {
  width: 18px;
  height: auto;
  /* background-color: #eef2f7; */
  margin-right: 8px;
  /* padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 250px;
  border-radius: 7px; */
}

.search-area {
  display: flex;
  background-color: #eef2f7;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 200px;
  border-radius: 7px;
}

.navigation {
  display: flex;
  /* gap: 50px; */
}

.profile-navigation {
  border-right: 1px solid #d7d6d6;
}

.profile-navigation svg {
  margin-right: 25px;
  fill: #4b4b4b;
}

.profile-navigation svg:hover {
  margin-right: 25px;
  fill: #000;
}

.learning-navigation {
  margin-left: 25px;
}

.learning-navigation svg {
  margin-right: 15px;
  fill: #4b4b4b;
}

.learning-navigation svg:hover {
  fill: #000;
}

.banner {
  background-color: #dfe1df;
  width: auto;
  height: 200px;
  color: #dfe1df;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  /* margin-bottom: 100px; */
}

.banner {
  background-image: url(https://document-export.canva.com/w3lOM/DAFpqDw3lOM/8/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20230917%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230917T030353Z&X-Amz-Expires=16585&X-Amz-Signature=6e451d72d4a7a82ab24955eeb369d35847ac88d60d8361ace091a8b780a455ad&X-Amz-SignedHeaders=host&response-expires=Sun%2C%2017%20Sep%202023%2007%3A40%3A18%20GMT);
}

.profile-header {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.02);
}
/* .profile-header {
  
} */

.my-photo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  background-color: #dfe1df;
  border: 5px solid #fff;
  margin-left: 40px;
  position: absolute;
  top: 190px;
  border-radius: 50%;
  overflow: hidden;
}

.name {
  font-size: 30px;
  margin-bottom: 15px;
  margin-left: 25px;
}

.brief-intro {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: #4b4b4b;
  margin-left: 25px;
  flex: 1;
}

.intro-block {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.side-intro {
  flex: 0 0 180px;
  margin-right: 10px;
  font-size: 15px;
}

.location {
  font-size: 14px;
  /* margin-bottom: 12px; */
  margin-left: 25px;
  /* display: inline-block; */
  color: #929292;
}

.contact-info:link {
  font-size: 14px;
  /* margin-bottom: 12px; */
  color: #2967b2;
  font-weight: bold;
  /* margin-left: 20px; */
  /* display: inline-block; */
  margin-left: 15px;
  vertical-align: bottom;
  text-decoration: none;
}

.contact-info:visited {
  font-size: 14px;
  /* margin-bottom: 12px; */
  color: #2967b2;
  font-weight: bold;
  /* margin-left: 10px; */
  /* display: inline-block; */
  margin-left: 15px;
  vertical-align: bottom;
  text-decoration: none;
}

.contact-info:hover {
  font-size: 14px;
  /* margin-bottom: 12px; */
  color: #2967b2;
  font-weight: bold;
  /* margin-left: 10px; */
  /* display: inline-block; */
  margin-left: 15px;
  vertical-align: bottom;
  text-decoration: underline;
}

.contact-info:active {
  font-size: 14px;
  /* margin-bottom: 12px; */
  color: #164784;
  font-weight: bold;
  /* margin-left: 10px; */
  /* display: inline-block; */
  margin-left: 15px;
  vertical-align: bottom;
  text-decoration: underline;
}

.connection-numbers {
  font-size: 14px;
  margin-bottom: 15px;
  color: #2967b2;
  font-weight: bold;
  margin-left: 25px;
}

.header-nav {
  margin-left: 25px;
}

.open-to {
  background-color: #2967b2;
  padding: 8px 16px;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.open-to:hover {
  background-color: #164784;
}

.add-section {
  background-color: #fff;
  padding: 8px 16px;
  font-size: 15px;
  color: #2967b2;
  font-weight: bold;
  margin-right: 10px;
  border: 1.8px solid #2967b2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.add-section:hover {
  background-color: #bfd8f4;
  border: 2.2px solid #2967b2;
}

.more {
  background-color: #fff;
  padding: 8px 20px;
  font-size: 15px;
  color: #8f8f8f;
  font-weight: bold;
  /* margin-right: 20px; */
  border: 1.8px solid #8f8f8f;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.more:hover {
  background-color: #d7d6d6;
  border: 2.2px solid #8f8f8f;
}

/* Next Section */

.location-contact {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.company:link {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #313131;
  text-decoration: none;
}

.company:visited {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #313131;
  text-decoration: none;
}

.company:hover {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #2967b2;
  text-decoration: underline;
}

.company:active {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #2967b2;
  text-decoration: underline;
}

.university:link {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #313131;
  text-decoration: none;
}

.university:visited {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #313131;
  text-decoration: none;
}

.university:hover {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #2967b2;
  text-decoration: underline;
}

.university:active {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #2967b2;
  text-decoration: underline;
}

.side1 {
  background-color: #fff;
  padding: 15px 25px;
  flex: 1;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.02);
  /* max-width: 100%; */
}

.container {
  flex: 1 1 auto;
  /* max-width: 100%; */
}

.sidebar {
  flex: 1 1 auto;
}
/* .main-side {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
} */

.profile-language {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 0.7px solid #d7d7d7;
}

.language {
  margin-bottom: 7px;
  font-size: 17px;
}

.english {
  font-size: 14px;
  color: #8f8f8f;
}

.public-profile {
  margin-bottom: 7px;
  font-size: 17px;
}

.url {
  font-size: 14px;
  color: #8f8f8f;
}

.photo {
  width: 60px;
  height: auto;
}

.logo {
  width: 60px;
  height: auto;
}

.side2 {
  background-color: #fff;
  padding: 25px 12px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.02);
}

.premium {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
}
.ask {
  font-size: 13px;
  text-align: center;
  margin-bottom: 17px;
  color: #707070;
  /* flex: 1 1 auto; */
}

.logo-img {
  display: flex;
  gap: 15px;
  margin-bottom: 17px;
}

.photo {
  border-radius: 50%;
}

.who-viewed {
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
  color: #707070;
}

.try-premium {
  font-size: 17px;
  font-weight: bold;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 80px;
  cursor: pointer;
  color: #2967b2;
  border: 1px solid #2967b2;
}

.try-premium:hover {
  background-color: #bfd8f4;
  border: 2px solid #2967b2;
  padding: 9.3px 15px;
}

.analytics-section {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.02);
}
.analytics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 15px;
}

.analytics-header {
  margin-bottom: 20px;
  margin-top: 10px;
}

.analytics-header h2 {
  font-size: 22px;
  margin-bottom: 3px;
}

.analytics-header p {
  font-size: 13px;
  color: #707070;
}

.profile-views {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.profile-views:hover {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e2e2e2;
}

.profile-view {
  /* margin-top: 10px; */
  font-size: 18px;
  margin-bottom: 4px;
}

.who-saw {
  font-size: 14px;
  color: #707070;
}

.post-immpressions {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.post-immpressions:hover {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e2e2e2;
}

.post-impression {
  font-size: 18px;
  margin-bottom: 4px;
}

.check-who {
  font-size: 14px;
  color: #707070;
  margin-bottom: 5px;
}
.impression-value {
  font-size: 12px;
  color: #707070;
  display: flex;
  gap: 10px;
}

.impress-value {
  color: #298d1a;
  font-weight: bold;
}

.search-appearances {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.search-appearances:hover {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e2e2e2;
}

.search-appearance {
  font-size: 18px;
  margin-bottom: 4px;
}

.check-many {
  font-size: 14px;
  color: #707070;
  margin-bottom: 5px;
}

.followers {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.followers:hover {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e2e2e2;
}

.follower {
  font-size: 18px;
  margin-bottom: 4px;
}

.see-many {
  font-size: 14px;
  color: #707070;
  margin-bottom: 5px;
}

.follower-values {
  font-size: 12px;
  color: #707070;
  display: flex;
  gap: 10px;
}

.follower-value {
  color: #298d1a;
  font-weight: bold;
}

/* CSS Grid */

/* .Page {
  display: grid;
  grid-template-columns: 1fr 300px;
} */

.main-page {
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 30px;
  margin: 0 auto;
}

.page-header {
  grid-column: 1 / -1;
  margin-bottom: 30px;
}

/* About Section */

.about-section {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.02);
}

.about-section h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 14px;
  margin-bottom: 17px;
  line-height: 1.5;
}

.about-section ol {
  font-size: 14px;
  margin-bottom: 17px;
  line-height: 1.5;
  list-style: none;
  text-indent: 8px;
}

.about-section li {
  margin-bottom: 7px;
}

.about-experience-header {
  font-style: italic;
}

/* Featured Section */

.featured-section {
  background-color: #fff;
  padding: 20px 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.02);
}

.featured-header-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.featured-posts {
  display: grid;
  grid-template-columns: 410px 410px;
  column-gap: 15px;
}

.post-column {
  background-color: #fff;
  padding: 15px 15px;
  border: 1px solid #d7d6d6;
  border-radius: 10px;
  line-height: 1.4;
}

.post {
  font-size: 14px;
  margin-bottom: 12px;
}

.post p {
  margin-bottom: 10px;
}

.column-header1 {
  padding-left: 0;
  padding-top: 0;
  font-size: 13px;
  margin-bottom: 20px;
  color: #8f8f8f;
}

.column-header2 {
  font-size: 13px;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
  color: #8f8f8f;
}

.like-comment {
  margin-top: 22px;
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 11px;
  color: #929292;
}

.like-icon {
  margin-top: 2px;
}

.CV-column {
  background-color: #fff;
  /* padding: 15px 15px; */
  border: 1px solid #d7d6d6;
  border-radius: 10px;
}

.CV-photo {
  width: 370px;
  height: auto;
  padding: 0 15px;
  margin-bottom: 14px;
  line-height: 1.3;
}

.CV h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.CV-note {
  font-size: 14px;
}

.CV-Footer {
  background-color: #eeeff7bd;
  padding: 15px 15px;
}

.featured-icon {
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 50px;
}

.featured-icon:hover {
  background-color: #d7d6d6;
  padding: 8px;
  border-radius: 50px;
}

.edit-pencil {
  display: flex;
  padding: 8px;
  border-radius: 50%;
  align-items: center;
  justify-content: space-around;
}

.edit-pencil:hover {
  background-color: #d7d6d6;
  padding: 8px;
  border-radius: 100px;
  align-items: center;
  justify-content: space-around;
}

.pencil-icon {
  width: 27px;
  height: 27px;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: center;
}
