* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f3f3f0;
}

.main-side {
  width: 1100px;
  margin: 0 auto;
}

.page-header {
  background-color: #fff;
  height: 50px;
  margin-bottom: 30px;
}

.banner {
  background-color: #dfe1df;
  width: auto;
  height: 200px;
  color: #dfe1df;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  /* margin-bottom: 100px; */
}

.profile-header {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
}
/* .profile-header {
  
} */

.my-photo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  background-color: #dfe1df;
  border: 5px solid #fff;
  margin-left: 40px;
  position: absolute;
  top: 190px;
  border-radius: 50%;
  overflow: hidden;
}

.name {
  font-size: 30px;
  margin-bottom: 15px;
  margin-left: 25px;
}

.brief-intro {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: #4b4b4b;
  margin-left: 25px;
  flex: 1;
}

.intro-block {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.side-intro {
  flex: 0 0 180px;
  margin-right: 10px;
  font-size: 15px;
}

.location {
  font-size: 14px;
  /* margin-bottom: 12px; */
  margin-left: 25px;
  /* display: inline-block; */
  color: #929292;
}

.contact-info:link {
  font-size: 14px;
  /* margin-bottom: 12px; */
  color: #2967b2;
  font-weight: bold;
  /* margin-left: 20px; */
  /* display: inline-block; */
  margin-left: 15px;
  vertical-align: bottom;
  text-decoration: none;
}

.contact-info:visited {
  font-size: 14px;
  /* margin-bottom: 12px; */
  color: #2967b2;
  font-weight: bold;
  /* margin-left: 10px; */
  /* display: inline-block; */
  margin-left: 15px;
  vertical-align: bottom;
  text-decoration: none;
}

.contact-info:hover {
  font-size: 14px;
  /* margin-bottom: 12px; */
  color: #2967b2;
  font-weight: bold;
  /* margin-left: 10px; */
  /* display: inline-block; */
  margin-left: 15px;
  vertical-align: bottom;
  text-decoration: underline;
}

.contact-info:active {
  font-size: 14px;
  /* margin-bottom: 12px; */
  color: #164784;
  font-weight: bold;
  /* margin-left: 10px; */
  /* display: inline-block; */
  margin-left: 15px;
  vertical-align: bottom;
  text-decoration: underline;
}

.connection-numbers {
  font-size: 14px;
  margin-bottom: 15px;
  color: #2967b2;
  font-weight: bold;
  margin-left: 25px;
}

.header-nav {
  margin-left: 25px;
}

.open-to {
  background-color: #2967b2;
  padding: 8px 16px;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.open-to:hover {
  background-color: #164784;
}

.add-section {
  background-color: #fff;
  padding: 8px 16px;
  font-size: 15px;
  color: #2967b2;
  font-weight: bold;
  margin-right: 10px;
  border: 1.8px solid #2967b2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.add-section:hover {
  background-color: #bfd8f4;
  border: 2.2px solid #2967b2;
}

.more {
  background-color: #fff;
  padding: 8px 20px;
  font-size: 15px;
  color: #8f8f8f;
  font-weight: bold;
  /* margin-right: 20px; */
  border: 1.8px solid #8f8f8f;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.more:hover {
  background-color: #d7d6d6;
  border: 2.2px solid #8f8f8f;
}

/* Next Section */

.location-contact {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.company:link {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #313131;
  text-decoration: none;
}

.company:visited {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #313131;
  text-decoration: none;
}

.company:hover {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #2967b2;
  text-decoration: underline;
}

.company:active {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #2967b2;
  text-decoration: underline;
}

.university:link {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #313131;
  text-decoration: none;
}

.university:visited {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #313131;
  text-decoration: none;
}

.university:hover {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #2967b2;
  text-decoration: underline;
}

.university:active {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: #2967b2;
  text-decoration: underline;
}

.side1 {
  background-color: #fff;
  padding: 15px 25px;
  flex: 1;
  border-radius: 10px;
  margin-bottom: 10px;
  /* max-width: 100%; */
}

.container {
  flex: 1 1 auto;
  /* max-width: 100%; */
}

.sidebar {
  flex: 1 1 auto;
}
.main-side {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
}

.profile-language {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 0.7px solid #d7d7d7;
}

.language {
  margin-bottom: 7px;
  font-size: 17px;
}

.english {
  font-size: 14px;
  color: #8f8f8f;
}

.public-profile {
  margin-bottom: 7px;
  font-size: 17px;
}

.url {
  font-size: 14px;
  color: #8f8f8f;
}

.photo {
  width: 60px;
  height: auto;
}

.logo {
  width: 60px;
  height: auto;
}

.side2 {
  background-color: #fff;
  padding: 25px 12px;
  border-radius: 10px;
}

.premium {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
}
.ask {
  font-size: 13px;
  text-align: center;
  margin-bottom: 17px;
  color: #707070;
  /* flex: 1 1 auto; */
}

.logo-img {
  display: flex;
  gap: 15px;
  margin-bottom: 17px;
}

.photo {
  border-radius: 50%;
}

.who-viewed {
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
  color: #707070;
}

.try-premium {
  font-size: 17px;
  font-weight: bold;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 80px;
  cursor: pointer;
  color: #2967b2;
  border: 1px solid #2967b2;
}

.try-premium:hover {
  background-color: #bfd8f4;
  border: 2px solid #2967b2;
}

.analytics-section {
  background-color: #fff;
  margin-bottom: 50px;
  padding: 15px 25px;
  border-radius: 10px;
}
.analytics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 15px;
}

.analytics-header {
  margin-bottom: 30px;
  margin-top: 10px;
}

.analytics-header h2 {
  font-size: 22px;
  margin-bottom: 3px;
}

.analytics-header p {
  font-size: 13px;
  color: #707070;
}

.profile-views {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
}

.profile-views:hover {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e2e2e2;
}

.profile-view {
  /* margin-top: 10px; */
  font-size: 18px;
  margin-bottom: 7px;
}

.who-saw {
  font-size: 14px;
  color: #707070;
}

.post-immpressions {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
}

.post-immpressions:hover {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e2e2e2;
}

.post-impression {
  font-size: 18px;
  margin-bottom: 7px;
}

.check-who {
  font-size: 14px;
  color: #707070;
  margin-bottom: 5px;
}
.impression-value {
  font-size: 12px;
  color: #707070;
  display: flex;
  gap: 10px;
}

.impress-value {
  color: #298d1a;
  font-weight: bold;
}

.search-appearances {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
}

.search-appearances:hover {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e2e2e2;
}

.search-appearance {
  font-size: 18px;
  margin-bottom: 7px;
}

.check-many {
  font-size: 14px;
  color: #707070;
  margin-bottom: 5px;
}

.followers {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
}

.followers:hover {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e2e2e2;
}

.follower {
  font-size: 18px;
  margin-bottom: 7px;
}

.see-many {
  font-size: 14px;
  color: #707070;
  margin-bottom: 5px;
}

.follower-values {
  font-size: 12px;
  color: #707070;
  display: flex;
  gap: 10px;
}

.follower-value {
  color: #298d1a;
  font-weight: bold;
}
